<div class="header">
  <h1>Add Program</h1>
</div>

<div class="basic-container">
  <mat-card class="workoutcard-container">You can Add a new Program here
    <br>
    <br>

    <mat-form-field class="example-form-field">
      <mat-label>Program name</mat-label>
      <input matInput type="text" [(ngModel)]="value">
      <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <br>
    <br>
    <button mat-raised-button color="primary" (click)="submit()">Submit</button>
  </mat-card>
</div>


<!-- det her skulle gerne virke i følge eksemplet på angular material input component. det literally copy pastet men virker ikke-->
<!-- <input matInput type="text" [(ngModel)]="value">
            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
              <mat-icon>close</mat-icon>
            </button> -->
