body {
  margin: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: lightblue;
}

a {
  color: #00B7FF;
}

.authForm {
  display: flex;
  flex-flow: column;
  align-items: center;
}

input {
  margin-bottom: 16px;
  max-width: 200px;
}

.auth {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.error {
  color: red;
}