doctype html
html
  head
    title= title
    <link rel="stylesheet" href="/stylesheets/my-style.css"/>
    style
      include ../public/stylesheets/style.css
  body

    block logout
      div(class="buttons")
        button(class="button" onClick=`goBack()`) Go Back
        button(class="button logout" onClick=`logout()`) Logout
    
    block logo
      a(class="crazyStyle" href="/") Ballz FitnezZ

    block content


script.
  function logout() {
    window.location.href = '/auth/logout'
  }

  function goBack() {
    window.history.back();
  }

  