doctype html
html
  head
    title= title
    <link rel="stylesheet" href="/stylesheets/my-style.css"/>
    style
      include ../public/stylesheets/style.css
  body
    block logout
      button(class="button logout" onClick=`logout()`) Logout
    block content


script.
  function logout() {
    window.location.href = '/auth/logout'
  }